#mapListPage {
  max-height: 85vh;
  width: 100%;
}

#map {
  min-width: 100%;
  min-height:86vh;
  position: fixed;
}

#homeList{
  height: 85vh;
  overflow: scroll;

  li {
    list-style-type: none;
  }
  .listing{
    background-color: white;
    border-bottom: 2px #cc6262 solid;
    color: #1e1e1e;
    margin-top: 5px;
    padding: 3px;

    .listImg{
      max-width: 150px;
    }
  }
}
