h3.text-center Add a Listing

.container
  .row
    .col-sm-6.col-sm-offset-3
      .form-group
        label(for='home') Description
        input#home.form-control(type='textarea' ng-model='home.description')
      .form-group
        label(for='address') Address
        input#address.form-control(type='text' ng-model='home.address')
      .form-group
        label(for='photoUpload') Add Photo
        input#photoUpload.form-control(type='file' ng-model='home.photo')
        img(src='', height='150', alt='Image preview...')
      .form-group
        label(for='price') Asking Price
        input#price.form-control(type='number' ng-model='home.price')
      .form-group
        label(for='name') Seller's Name
        input#email.form-control(type='text' ng-model='home.name')
      .form-group
        label(for='email') Contact Email
        input#email.form-control(type='email' ng-model='home.email')
      .form-group
        label(for='phone') Contact Phone Number
        input#phone.form-control(type='tel' ng-model='home.phone')
      .form-group
        button.form-control.btn.btn-info(ng-click='create(home)') Add Home
      
    
